p{
  
    position: relative; 
    width: 300px;
    height: 30PX;
    border: 1px solid #CCC;
    padding: 10px;
    background: #EEE;
    text-align: center;
    
}


span{
    margin: 50px;
 
 
    padding: 20px;
    border: 1px solid #DDD;
     position: relative; 
    

}